<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class=about>
    <div class=header><a class="btn list" href=#></a>

        <h1>About</h1><a class="btn popout" ng-if=!fullmode ng-click=popout()></a></div>
    <div class=content><p>Postrack v{{version}}</p>

        <p>Visit us at <a href=http://weboverride.com target=_blank>WebOverride.com</a></p>

        <p>Created by <a href=http://dcb.co.il target=_blank>Daniel Cohen</a></p>

        <p>&copy; {{year}}, All rights reserved.</p>

        <p>&nbsp;</p>

        <h2>Settings</h2>

        <div><label>User ID</label><input type=text disabled ng-model=userID></div>
    </div>
</div>
</body>
</html>